* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center; /* Allow sections to stretch in height */
  justify-content: start;
  width: 100%; /* Ensure full width */
  background-color: white;
}
body {
  font-family: "Rubik";
  background-color: white;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.welcome_section {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  margin: 0;
  border: none; /* Remove unnecessary border */
}

.welcome_row {
  display: flex;
  justify-content: space-between; /* Add space between greeting and image */
  width: 100%; /* Full width */
}

.greeting {
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #032b91;
  font-family: "MyFont";
}

.greeting_subtext {
  font-size: 60px;
  margin-top: 5px;
  font-family: "MyFont";
  color: #032b91;
  text-align: center;
}

.description {
  margin-top: 30px;
  font-size: 20px;
  margin-left: 20px;
  color: #555;
}

.actions {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-width: 40em;
  flex: 2;
  padding-right: 20px;
}

.action_item {
  display: flex;
  height: 120px;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 0px;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.action_item_last {
  display: flex;
  height: 120px;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action_item:hover {
  background-color: #f1f5ff;
}

.action_item_last:hover {
  background-color: #f1f5ff;
}

.action_icon {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  margin-right: 15px;
  color: #003eaa;
}

.action_title {
  font-size: 1rem;
  font-weight: normal;
  color: #1488db;
}

.action_description {
  margin-top: 0px;
  font-size: 0.9rem;
  color: #555;
}

.action_arrow {
  margin-left: auto;
  font-size: 1.2rem;
  color: #003eaa;
}

.right_image {
  width: 100%;
  height: 92vh;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image_section {
  flex: 1; /* Ensure the image takes appropriate space */
  max-width: 40%; /* Optional: Limit the width of the image */
  display: flex;
  justify-content: flex-end; /* Push image to the far right */
}
