* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    align-items: center; /* Allow sections to stretch in height */
    justify-content: start;
    width: 100%; /* Ensure full width */
    padding: 40px;
  }
  body {
    font-family: 'Rubik';
    background-color: #f9f9f9;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .welcome_section {
    margin-bottom: 30px;
  }
  
  .greeting {
    font-size: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: #032B91;
    font-family: 'MyFont';
  }
  
  .greeting_subtext {
    font-size: 1.5rem;
    margin-top: 5px;
    font-family: 'MyFont';
    color: #032B91;
  }
  
  .description {
    margin-top: 10px;
    color: #555;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 40em;
    flex: 2;
    padding-right: 20px;
  }
  
  .action_item {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action_item:hover {
    background-color: #f1f5ff;
  }
  
  .action_icon {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #003eaa;
  }
  
  .action_title {
    font-size: 1rem;
    font-weight: bold;
    color: #003eaa;
  }
  
  .action_description {
    font-size: 0.9rem;
    color: #555;
  }
  
  .action_arrow {
    margin-left: auto;
    font-size: 1.2rem;
    color: #003eaa;
  }

  .right_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image_section {
    flex: 1; /* Allow the image section to grow if needed */
    display: flex;
    justify-content: flex-end; /* Push the image to the far right */
    align-items: flex-start;
    padding-left: 1000px; /* Add space between content and image */
  }
  
  