body {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center; /* Allow sections to stretch in height */
  justify-content: start;
  width: 100%; /* Ensure full width */
  background-color: white;
}

.arrow {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  width: 20px;
}

.left_side {
  padding: 40px;
  align-items: center;
  flex: 1;
}

.right_side {
  margin-top: 50px;
  width: 40%;
  border: 1px solid #1488db;
  background-color: #d9d9d9;
  margin-right: 40px;
  margin-bottom: 60px;
}

.print_document {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_content {
  display: flex;
  justify-content: space-between; /* Add space between greeting and image */
  width: 100%; /* Full width */
}
.main_content h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #032b91;
  font-family: "MyFont";
}
.greeting {
  font-weight: 300;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: "Rubik";
}
.main_content p {
  font-weight: lighter;
  text-align: center;
  color: #000000;
  font-family: "Rubik";
}

.action_list {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
}

.action_item {
  border: 1px solid #1488db;
  border-radius: 20px;
  font-family: "Rubik";
  width: 100%;
}

.action_desciption {
  text-align: left !important;
  margin-left: 60px;
  font-weight: 100 !important;
}

.display_item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.print_btn {
  margin-top: 10px;
  background-color: #032b91;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.icon {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.icon_title {
  font-size: 1rem;
  color: #1488db !important;
  font-weight: bold !important;
}

.print_page {
  border: 1px solid #1488db;
}
.print_btn:hover {
  background-color: #003399;
}

.info_box {
  align-content: center;
  height: 30px;
  border-radius: 10px;
  background-color: #c4e1f6;
  width: fit-content;
  padding: 0 16px;
}

.info_box_size {
  margin-left: 10px;
  align-content: center;
  width: fit-content;
  padding: 0 16px;
  height: 30px;
  border-radius: 10px;
  background-color: #c4e1f6;
}

.info_box_printer {
  margin-left: 60px;
  align-content: center;
  width: fit-content;
  min-width: 100px;
  height: 30px;
  padding: 0 16px;
  border-radius: 10px;
  background-color: #c4e1f6;
}

.info_box_location {
  margin-left: 110px;
  padding: 0 16px;
  align-content: center;
  width: fit-content;
  min-width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #c4e1f6;
}

.bottom {
  margin-bottom: 20px;
}

.space {
  margin-left: 80px;
}

.action_item:hover {
  background-color: #f1f5ff;
}

.title {
  font-family: "MyFont";
  font-size: 30px;
  color: #032b91;
}

.bluebox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px dotted #1488db;
  background-color: #c4e1f6;
  align-items: center;
  width: 50%;
  height: 40%;
}

.sticker {
  width: 222px;
  height: 196px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

.outsidebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleupload {
  color: #032b91;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  color: #032b91;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 30px;
}

.display_button {
  margin-top: 10px;
  gap: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.upload_btn {
  margin-top: 10px;
  background-color: #032b91;
  color: white;
  width: 24%;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.properties_container {
  display: flex;
}

.properties_container_title {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.properties_container_title_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_properties {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.right_properties {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.description_properties {
  font-weight: 400;
  color: #1488db;
}

.description_properties_button {
  margin-top: 15px;
  padding: 5px;
  width: 100px; /* Automatically adjusts width based on content */
  border-radius: 20px;
  border: 1px solid #667085;
  background-color: #ffffff;
  color: #667085;
  text-align: center; /* Centers the text */
}

.print_preview {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #032b91;
}

.blue_line {
  width: 90%;
  height: 1px;
  background-color: #1488db;
  align-self: center;
  margin-top: 15px;
}

/*PAGE SETUP*/

.page_setup_container {
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.page_setup_title {
  font-weight: 500;
  font-size: 20px;
  color: #1488db;
}

.margin {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.page_setup_description {
  font-weight: 400;
  color: #1488db;
}

.margin_button {
  border-radius: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #667085;
  background-color: #ffffff;
  color: #667085;
  text-align: center;
}

.margin_result{
  text-align: center;
}
.margin_title {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.margin_specific_button {
  text-align: center;
  width: 60px;
  height: 20px;
  margin-left: 5px;
  margin-right: 20px;
  border: 1px solid #667085;
  background-color: #ffffff;
  color: #667085;
  border-radius: 20px;
}

/*ORIENTATION*/
.orientation {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.orientation label span {
  margin-left: 8px;
}

.orientation label {
  display: flex;
}

/*PAGE PER SHEET*/
.sheet {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.sheet_button_list {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.sheet_sticker {
  height: 70px;
  width: 70px;
}

.sheet_button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}



/*NUMBER OF PAGE LEFT*/

.numberpage_container {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  gap: 60px;
}

.numberpage {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.printrange {
  display: flex;
}

.page_setup_description_sheet {
  font-weight: 400;
  color: #1488db;
  margin-left: 10px;
  margin-right: 30px;
}

.done {
  width: 40%;
  height: 30px;
  background-color: #032b91;
  margin-top: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
  display: block; /* Ensure it behaves as a block element */
  margin-left: auto;
  cursor: pointer;
}

.preview_section{
  height: 100%;
  width: 100%;
}

.preview_pdf{
  height: 100%;
  width: 100%;
}


.scrollable_container {
  max-height: 70%; /* Adjust this to your desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  
  /* Optional: Padding for better appearance */
}

.scrollable_container::-webkit-scrollbar {
  width: 5px; /* Width of vertical scrollbar */
  color: #1488db;
}

.scrollable_container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 5px; /* Round the edges of the track */
}

.scrollable_container::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Change color on hover */
}

.scrollable_container::-webkit-scrollbar-thumb {
  background: #032b91; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round the edges of the thumb */
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Define column sizes */
  gap: 10px; /* Keep the gap */
  padding: 20px;
  padding-top: 0px;
  align-items: center;
}

.grid_container_header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Define column sizes */
  gap: 10px; /* Keep the gap */
  padding: 20px;
  
  align-items: center;
}

.grid_header {
  font-weight: bold;
  color: #032b91;
  text-align: center;
  padding: 5px 0;
  
  
}

.grid_row {
  display: contents; /* Each row treated as a single visual block */
  position: relative; /* Allow pseudo-elements */
}

.grid_row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4; /* Line color */
}

.grid_row:last-of-type::after {
  display: none; /* Remove line for the last row */
}

.grid_item {
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  display: flex; /* Enables centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.status_available {
  color: #3de131;
  font-weight: 500;
  padding: 5px 0;
  text-align: center;

}

.grid_button {
  background-color: #032b91;
  color: white;
  padding: 10px 0px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
}

.selected_button{
  outline: none;
  background-color:#ffffff;
  color:#032b91;
}

.grid_button:hover {
  background-color: #0056b3; /* Hover color */
}

.printer_list_icon{
  height: 40px;
  width: 40px;
}

.done_choose{
  font-weight: 500;
  text-align: center;
  background-color: #032b91;
  color: #ffffff;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.parent_container {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  align-items: center;
  position: absolute; /* Position it inside the popup */
  bottom: 20px; /* Distance from the bottom of the popup */
  right: 20px; /* Distance from the right of the popup */
  width: calc(100% - 40px); /* Ensure padding is accounted for */
}